{% with messages get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <ul class="flashes">
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endwith %}

<div class="checkbox mb-3">
    <div class="form-check mb-3">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1"
            checked>
        <label class="form-check-label" for="exampleRadios1">
            Check only all five and six digit codes<br>
            ( &#9989 <code>82948</code> &#9989 <code>177013</code> &#10060 <code>1234567</code> )
        </label>
    </div>
    <div class="form-check mb-3">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
        <label class="form-check-label" for="exampleRadios2">
            Also check five and six digit codes from more than 6 digit numbers<br>
            ( <code>1770137</code> &#10145;&#65039; <code>177013</code> )
        </label>
    </div>
</div>