{% extends 'layout.html' %}


{% block static_includes %}

<!-- style.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">

{% endblock %}

{% block body %}


<div class="main-body container">

    <form class="form-nuke mb-3" method="POST">
        <div class="text-center mb-4">
            <img class="img-fluid" src="{{ url_for('static', filename = 'img/nucular_logo.png') }}"
                alt="nucular_logo.png">
            <h1 class="h3 mb-3 font-weight-normal">nucularHentai</h1>
            <p>Found a collection of codes on Facebook but having a problem break them down one by one because it's
                mixed up
                with other stupid texts? No problem! Paste it here and I will nuke 'em for yah!'. &#x1F609</p>
        </div>

        <div class="form-label-group">
            <textarea name="code-textarea" class="form-control" placeholder="Paste nuke codes here . . ." rows="5"
                required autofocus></textarea>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" id="opt1" name="regex-option" value="5" checked>
            <label class="form-check-label" for="opt1">
                Only 5-6 digit codes
            </label>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" type="radio" id="opt2" name="regex-option" value="1">
            <label class="form-check-label" for="opt2">
                All 1-6 digit grouped numbers <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip"
                    data-placement="top" data-html="true"
                    title="Enable this option to take all grouped numbers ranging from 1-6 digits.<br><br>Example:<br>Part 1 - 256883<br>Part 2 - 256880<br><br>It will take codes [1, 2, 256883, 256880]"></span>
            </label>
        </div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">Nuke codes!</button>
    </form>

    <div class="container" id="aftermath-list">
        <h4 class="text-info"></h4>
        <ul class="list-group"></ul>
    </div>

    <footer class="container mt-3">
        <p class="text-muted text-center">
            Bootstrap
            <br>
            Flask
            <br>
            Hosted using Heroku
            <br>
            DarkWare Corps. @2021
        </p>
    </footer>

</div>




{% endblock %}